.mw-background-container {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&--hidden {
		display: none;
	}

	.mw-background-status {
		font-size: 1.2rem;
		color: $mid-gray;
	}
}
