@mixin makeButtonColor($bg) {
	background-color: $bg;
	border-color: $bg;

	&:hover, &:active, &:focus {
		background-color: darken($bg, 5%);
		border-color: darken($bg, 5%);
	}
}

.mw-button {

	border-width: $border-width;
	border-style: solid;
	border-radius: $border-radius;
	color: $white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		outline: none;
		text-decoration: none;
	}

	&[disabled] {
		opacity: $muted-opacity;
		cursor: not-allowed;
	}

	&--size--sm {
		padding: $small-padding $small-padding * 2;
	}

	&--size--md {
		padding: $global-padding $global-padding * 2;
	}

	&--size--lg {
		padding: $large-padding $large-padding * 2;
	}

	&--expand {
		width: 100%;
	}

	&--style--primary {
		@include makeButtonColor($primary-color);
	}

	&--style--secondary {
		border-color: $secondary-color;
		background: none;
		color: $secondary-color;

		&:hover, &:active, &:focus {
			color: darken($secondary-color, 10%);
			border-color: darken($secondary-color, 10%);
		}
	}

	&--style--success {
		@include makeButtonColor($success-color);
	}

	&--style--warn {
		@include makeButtonColor($warn-color);
	}

	&--style--error {
		@include makeButtonColor($error-color);
	}
}
