// Tabs
$frame-tab-height: 35px;
$frame-tab-padding: $small-padding / 2;
$settings-icon-size: 30px;

.mw-frames {

	width: 100%;
	height: $frame-tab-height;
	padding: $frame-tab-padding $frame-tab-padding 0 $frame-tab-padding;
	background-color: $dark-gray;

	user-select: none;
	display: flex;
	display: -webkit-flex;
	align-items: stretch;
	-webkit-align-items: stretch;
	flex-direction: row;
    -webkit-flex-direction: row;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;

	.mw-frames-frame {
		color: $font-color;
		line-height: $frame-tab-height;
		margin-right: $frame-tab-padding;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		text-align: center;
        box-shadow: inset 0px -3px 3px -3px #333;

		flex: 1;
        -webkit-flex: 1;

		a {
			display: block;
		}

        &--light {
            color: $off-white;
        }
		&[data-active="true"] {
            box-shadow: none;
			border-bottom-color: transparent;
		}
	}

	.mw-frames-show-settings {
		float: right;
		margin-left: auto;
		font-size: $settings-icon-size;
		color: $white;
		line-height: $frame-tab-height;

		&:before {
			content: "\2699";
		}
	}
}
