
.mw-pixi-container {
	position: relative;
	background: $off-white;
	display: flex;
	display: -webkit-flex;

	flex: auto;
    -webkit-flex: auto;

	> canvas {
		position:absolute;
		left: 2px;
		top: 100px;
		overflow: hidden;

		user-select: none;
		transform-origin: center center;
	}

	> canvas.hidden {
		display: none;
	}
}
