.mw-settings {

	.mw-about-link {
		font-size: 0.8rem;
	    line-height: 1rem;
		margin-bottom: $small-padding;
	    text-transform: uppercase;
	    letter-spacing: 0.03rem;
	    font-weight: 700;
		text-decoration: underline;
		color: $font-color;
		cursor: pointer;
	}

	.mw-tab-color-settings {
		border: 1px solid $input-border-color;
		background-color: $input-color;
		padding: $global-padding;
		margin: $small-padding 0;
		border-radius: $border-radius;

		// no inner padding for grid columns here to match input sizing
		.mw-tab-color-settings-label,
		.mw-tab-color-settings-color {
			padding-bottom: 0;
		}
	}
}
