.mw-settings {

	.mw-about-link {
		font-size: 0.8rem;
	    line-height: 1rem;
		margin-bottom: $small-padding;
	    text-transform: uppercase;
	    letter-spacing: 0.03rem;
	    font-weight: 700;
		text-decoration: underline;
		color: $font-color;
		cursor: pointer;
	}
}
